/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-notification-success {
  color: white;
  --mdc-snackbar-container-color: #00953C !important;
}

.app-notification-success .mat-mdc-snack-bar-action {
  color: white !important;
}

.mat-mdc-snack-bar-action {
  color: white !important;
}

.app-notification-error {
  color: white;
  --mdc-snackbar-container-color: #dc3741 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
